@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <!--The username will be used by the ldap_validate to check if the user has rigths to edit on the site admin-->
    <div id="username" hidden>@ViewData["userId"]</div>
    <div id="welcome-text" class="text-center">
        <h1>Velkommen til DISA Bio's film oversigt</h1>
        <p>Hele vores sortiment kan ses nedenfor.</p>
        <p>Vi glæder os meget til at se jer.</p>
    </div>

    <div id="frontpage-date-selecbox">
        <label for="frontPageSelectBox">Select movie show date:</label>
        <select id="frontPageSelectBox" class="">
            <option data-real-date="Default" selected="selected">all</option>
            @foreach (var showTime in ViewData["DatesWithShowTime"] as IEnumerable<DateTime>)
            {
                <option data-real-date="@showTime.ToString("yyyy-MM-dd")">@showTime.ToString("MM-dd")</option>
            }
        </select>
    </div>
</div>


<div id="front-page-movie-outer-wrapper" class="row">

    @foreach (var item in ViewData["Movies"] as IEnumerable<DISA.Models.Movie>)
    {
        <div class="col-md-3 movie-wrapper">
            <p>@item.Name</p>
            <img src="@item.CoverImage" class="cover-image"/>
            <form action="/Home/Movie" method="get">
                <input type="text" name="movieName" value="@item.Name" hidden/>
                <input class="btn reserver-button" type="submit" value="Reserver"/>
            </form>
        </div>
    }
   
</div>
    
    <!--Test form for testing post data-->
    <!--<form action="Home/Movie" method="post">
        <input type="text" name="formdata" />
        <input type="submit" name="submit" />
    </form>-->
