@{
    ViewData["Title"] = "Movie";
}

<div class="row">

    <!--Title and image container-->
    <div id="movieTitle" class="col-md-3">
        <p >@ViewData["movieName"]</p>
        <img src="@ViewData["movieCoverImage"]" class="img-responsive" />
    </div>
    <div class="col-md-6">
        <p>Movie description:</p>
        <p>@ViewData["movieDescription"]</p>
    </div>
    <div class="col-md-3">
        <p>Choose show time:</p>
        <div class="show-time-wrapper">
        @foreach (var item in ViewData["movieDetailsList"] as IEnumerable<DISA.Models.Movie>)
        {
            @foreach (var showTime in item.ShowTimes as IEnumerable<DISA.Models.ShowTime>)
            {
                <p class="theater-movie-is-related-to">Theater: @showTime.Theater.Number</p>
                <p>@showTime.Time</p>
                <div class="show-time-id" data-showtime-id="@showTime.ShowTimeId"></div>
                <hr />
            }                   
        }         
        </div>
    </div>
</div>
<div id="moviepage-section-two" class="row">
    <p>Ticket price: @ViewData["movieTicketPrice"]</p>
    <p id="total-reservation-price">Total price:</p>
    <div id="theater-wrapper" class="col-md-8">
        
        <div id="line-and-seats-wrapper">
            <div id="choose-theater-msg"><p>Please choose a theater</p></div>
            
        </div>
    </div>
    <div class="col-md-4">
        <form id="reserveTicketForm">
            <div class="form-group">
                <label for="fullNameInput">Fullname:</label>
                <input id="fullNameInput" type="text" name="fullName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phoneNumberInput">Phonenumber:</label>
                <input id="phoneNumberInput" type="tel" name="phoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" name="reserveTicketSubmit" value="Reserve" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


